SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[P_PAY_CALC_SYNTAX_COPY]  
   @av_company_cd nvarchar(max)/* 인사영역*/,
   @ad_sta_ymd datetime2/* 시작일자*/,
   @an_calc_syntax_pay_id numeric/* 수식을 복사할 급여계산식 ID*/,
   @an_payitem_cd_id numeric/* 급여항목기준ID*/,
   @av_user_id nvarchar(max)/* 변경자*/,
   @av_ret_code nvarchar(max)/* SUCCESS!/FAILURE!*/  OUTPUT,
   @av_ret_message nvarchar(max)/* 결과메시지*/  OUTPUT
AS 
   /*Generated by SQL Server Migration Assistant for Oracle version 5.2.1259.*/
   BEGIN
      
      /*
      *    ***************************************************************************
      *      TITLE       : 급여계산식 복사
      *      PROJECT     : 동부화재
      *      AUTHOR      : 성신제
      *      PROGRAM_ID  : P_PAY_CALC_COPY
      *      RETURN      : 1) SUCCESS!/FAILURE!
      *                    2) 결과 메시지
      *      COMMENT     : 급여계산수식 화면에서 적용시작일을 수정한뒤 복사버튼을 누르면
      *                    PAY_CALC_SYNTAX_C 테이블에 저장한 뒤
      *                    이 P_PAY_CALC_COPY 프로시져를 콜한다.
      *      HISTORY     : 작성 성신제  2006.02.27
      *                  : 수정 박근한  2011.03.23
      *    ***************************************************************************
      *    기본적으로 사용되는 변수
      */
      DECLARE
		 @errornumber     int,
         @errormessage    nvarchar(4000),
         @v_program_id nvarchar(30), 
         @v_program_nm nvarchar(100), 

         @n_calc_syntax_pay_id numeric = NULL/*복사전 맨 마지막 ID*/, 
         @i_calc_syntax_pay_id numeric = NULL/*입력할 ID (PAY_CALC_SYNTAX_C, PAY_CALC_SYNTAX_MATRIX_C)*/, 
         @d_max_sta_ymd datetime2 = NULL, 
         @l_kor_syntax nvarchar(4000) = NULL

      /* 기본변수 초기값 셋팅*/
      SET @av_ret_code = 'SUCCESS!'

      SET @v_program_id = 'P_PAY_CALC_SYNTAX_COPY'/* 현재 프로시져의 영문명*/

      SET @v_program_nm = '급여계산식복사'/* 현재 프로시져의 한글문명*/

      SET @av_ret_message = '프로시져 실행 시작..'

      
      /*
      *    작업
      *    1. ad_sta_ymd는 모든 시작일자보다 커야 한다.
      *    2. PAY_CALC_SYNTAX_C의 마지막 날짜를 수정한다.
      *    3. PAY_CALC_SYNTAX_C를 복사한다.
      *    4. PAY_CALC_SYNTAX_MATRIX_C를 복사한다.
      *    ***********************************************************
      *    1. ad_sta_ymd는 모든 시작일자보다 커야 한다.
      *    ***********************************************************
      */
      BEGIN

         BEGIN TRY

            SELECT @d_max_sta_ymd = max(PAY_CALC_SYNTAX.STA_YMD)
            FROM dbo.PAY_CALC_SYNTAX
            WHERE PAY_CALC_SYNTAX.PAY_PAYITEM_CODE_ID = @an_payitem_cd_id AND PAY_CALC_SYNTAX.STA_YMD >= @ad_sta_ymd

         END TRY

		BEGIN CATCH
		    SET @errornumber   = ERROR_NUMBER()
            SET @errormessage  = ERROR_MESSAGE()

			SET @av_ret_code    = 'FAILURE!'
            SET @av_ret_message = DBO.F_FRM_ERRMSG('PAY_CALC_SYNTAX_C 복사 시작일자 조회시 에러발생[ERR]' ,@v_program_id ,0010, @errormessage, @av_user_id);

            IF @@TRANCOUNT > 0
               ROLLBACK WORK
            RETURN
         END CATCH
      END

      IF @d_max_sta_ymd IS NOT NULL
         BEGIN
            SET @av_ret_code = 'FAILURE!'
			SET @av_ret_message = DBO.F_FRM_ERRMSG('시작일자는 '
                + dbo.XF_TO_CHAR_D(@d_max_sta_ymd, 'YYYY.MM.DD')
                + '보다 커야 합니다.[ERR]' ,@v_program_id ,0020, @errormessage, @av_user_id);
            IF @@TRANCOUNT > 0
               ROLLBACK WORK
            RETURN

         END

      
      /*
      *    *****************************************************************
      *    2. PAY_CALC_SYNTAX_C의 마지막 날짜를 시작일자 전일로 수정한다.
      *    *****************************************************************
      */
      BEGIN

         BEGIN TRY

            SELECT @n_calc_syntax_pay_id = A.PAY_CALC_SYNTAX_ID/*현재의 맨 마지막 번째의 급여계산식ID*/
            FROM dbo.PAY_CALC_SYNTAX  AS A
            WHERE A.PAY_PAYITEM_CODE_ID = @an_payitem_cd_id AND A.STA_YMD = 
               (
                  SELECT max(B.STA_YMD) AS expr
                  FROM dbo.PAY_CALC_SYNTAX  AS B
                  WHERE B.PAY_PAYITEM_CODE_ID = A.PAY_PAYITEM_CODE_ID AND B.STA_YMD < @ad_sta_ymd
               )

            IF @@ROWCOUNT < 1
            BEGIN
                SET @av_ret_code = 'FAILURE!'
                SET @av_ret_message = DBO.F_FRM_ERRMSG('PAY_CALC_SYNTAX_C MAX CALC_SYNTAX_ID SELECT시 에러발생[ERR]' ,@v_program_id ,0030, @errormessage, @av_user_id);
                IF @@TRANCOUNT > 0
                   ROLLBACK WORK
                RETURN

            END

         END TRY

		 BEGIN CATCH
		    SET @errornumber   = ERROR_NUMBER()
            SET @errormessage  = ERROR_MESSAGE()

			SET @av_ret_code    = 'FAILURE!'
            SET @av_ret_message = DBO.F_FRM_ERRMSG('PAY_CALC_SYNTAX_C MAX CALC_SYNTAX_ID SELECT시 에러발생[ERR]' ,@v_program_id ,0040, @errormessage, @av_user_id);

            IF @@TRANCOUNT > 0
               ROLLBACK WORK
            RETURN
         END CATCH
      END

      BEGIN
         BEGIN TRY
            UPDATE dbo.PAY_CALC_SYNTAX
               SET 
                  END_YMD = dbo.XF_DATEADD(@ad_sta_ymd,-1)
            FROM dbo.PAY_CALC_SYNTAX  AS A
            WHERE A.PAY_CALC_SYNTAX_ID = @n_calc_syntax_pay_id
         END TRY

		 BEGIN CATCH
		    SET @errornumber   = ERROR_NUMBER()
            SET @errormessage  = ERROR_MESSAGE()

			SET @av_ret_code    = 'FAILURE!'
            SET @av_ret_message = DBO.F_FRM_ERRMSG('PAY_CALC_SYNTAX_C 종료일자 UPDATE시 에러발생[ERR]' ,@v_program_id ,0050, @errormessage, @av_user_id);

            IF @@TRANCOUNT > 0
               ROLLBACK WORK
            RETURN
         END CATCH
      END

      
      /*
      *    *****************************************************************
      *    3. PAY_CALC_SYNTAX_C를 복사한다.
      *    *****************************************************************
      */
      BEGIN

         BEGIN TRY

            SELECT @l_kor_syntax = A.KOR_SYNTAX
            FROM dbo.PAY_CALC_SYNTAX  AS A
            WHERE A.PAY_CALC_SYNTAX_ID = @an_calc_syntax_pay_id

            IF @@ROWCOUNT < 1
            BEGIN
                SET @av_ret_code = 'FAILURE!'
                SET @av_ret_message = DBO.F_FRM_ERRMSG('PAY_CALC_SYNTAX_C COPY KOR_SYNTAX SELECT시 에러발생[ERR]' ,@v_program_id ,0060, @errormessage, @av_user_id);
                IF @@TRANCOUNT > 0
                   ROLLBACK WORK
                RETURN
            END

         END TRY

		 BEGIN CATCH
		    SET @errornumber   = ERROR_NUMBER()
            SET @errormessage  = ERROR_MESSAGE()

			SET @av_ret_code    = 'FAILURE!'
            SET @av_ret_message = DBO.F_FRM_ERRMSG('PAY_CALC_SYNTAX_C COPY KOR_SYNTAX SELECT시 에러발생[ERR]' ,@v_program_id ,0070, @errormessage, @av_user_id);

            IF @@TRANCOUNT > 0
               ROLLBACK WORK
            RETURN
         END CATCH
      END

      /*새로 등록할 SEQUENCE_ID를 딴다.*/
      BEGIN

         BEGIN TRY
            SELECT @i_calc_syntax_pay_id = NEXT VALUE FOR dbo.S_PAY_SEQUENCE
         END TRY

		 BEGIN CATCH
		    SET @errornumber   = ERROR_NUMBER()
            SET @errormessage  = ERROR_MESSAGE()

			SET @av_ret_code    = 'FAILURE!'
            SET @av_ret_message = DBO.F_FRM_ERRMSG('S_PAY_SEQUENCE SELECT시 에러발생[ERR]' ,@v_program_id ,0080, @errormessage, @av_user_id);

            IF @@TRANCOUNT > 0
               ROLLBACK WORK
            RETURN
         END CATCH
      END

      BEGIN

         BEGIN TRY
            INSERT dbo.PAY_CALC_SYNTAX/* 계산식*/(
               PAY_CALC_SYNTAX_ID/* 급여계산식id                   --- NUMBER(22)          not null*/, 
               PAY_PAYITEM_CODE_ID/* 급여항목기준id                 --- NUMBER(22)          not null*/, 
               STA_YMD/* 적용시작일                     --- DATE                not null*/, 
               END_YMD/* 적용종료일                     --- DATE                not null*/, 
               KOR_SYNTAX/* 계산수식                       --- LONG(0)             null*/, 
               TZ_CD, 
               TZ_DATE, 
               MOD_USER_ID/* 변경자                         --- VARCHAR2(10)        not null*/, 
               MOD_DATE/* 변경일시                       --- DATE                not null*/)
               VALUES (
                  @i_calc_syntax_pay_id, 
                  @an_payitem_cd_id, 
                  @ad_sta_ymd,
				  dbo.XF_TO_DATE('29991231', 'YYYYMMDD') ,
                  @l_kor_syntax, 
                  'KST', 
                  dbo.XF_SYSDATE(0), 
                  @av_user_id, 
                  dbo.XF_SYSDATE(0))
         END TRY

		 BEGIN CATCH
		    SET @errornumber   = ERROR_NUMBER()
            SET @errormessage  = ERROR_MESSAGE()

			SET @av_ret_code    = 'FAILURE!'
            SET @av_ret_message = DBO.F_FRM_ERRMSG('PAY_CALC_SYNTAX_C INSERT시 에러발생[ERR]' ,@v_program_id ,0090, @errormessage, @av_user_id);

            IF @@TRANCOUNT > 0
               ROLLBACK WORK
            RETURN
         END CATCH
      END

      
      /*
      *    *****************************************************************
      *    4. PAY_CALC_SYNTAX_MATRIX_C를 복사한다.
      *    *****************************************************************
      */
      BEGIN

         BEGIN TRY
            INSERT dbo.PAY_CALC_SYNTAX_MATRIX/* 급여계산매트릭스*/(
               PAY_CALC_SYNTAX_MATRIX_ID/* 계산매트릭id                   --- NUMBER(15)          not null*/, 
               PAY_CALC_SYNTAX_ID/* 급여계산식id                   --- NUMBER(15)          not null*/, 
               PAY_ITEM_CD/* 참조구분(기준,항목,대상)       --- VARCHAR2(10)        not null*/, 
               TZ_CD, 
               TZ_DATE, 
               MOD_USER_ID/* 변경자                         --- VARCHAR2(10)        not null*/, 
               MOD_DATE/* 변경일시                       --- DATE                not null*/)
               SELECT 
                  NEXT VALUE FOR dbo.S_PAY_SEQUENCE/* 계산매트릭id                   --- NUMBER(15)          not null*/, 
                  @i_calc_syntax_pay_id/* 급여계산식id                   --- NUMBER(15)          not null*/, 
                  PAY_CALC_SYNTAX_MATRIX.PAY_ITEM_CD/* 참조구분(기준,항목,대상)       --- VARCHAR2(10)        not null*/, 
                  'KST', 
                  dbo.XF_SYSDATE(0), 
                  @av_user_id/* 변경자                         --- VARCHAR2(10)        not null*/, 
                  dbo.XF_SYSDATE(0)/* 변경일시                       --- DATE                not null*/
               FROM dbo.PAY_CALC_SYNTAX_MATRIX/* 급여계산매트릭스*/
               WHERE PAY_CALC_SYNTAX_MATRIX.PAY_CALC_SYNTAX_ID = @an_calc_syntax_pay_id
         END TRY

		 BEGIN CATCH
		    SET @errornumber   = ERROR_NUMBER()
            SET @errormessage  = ERROR_MESSAGE()

			SET @av_ret_code    = 'FAILURE!'
            SET @av_ret_message = DBO.F_FRM_ERRMSG('PAY_CALC_SYNTAX_MATRIX_C INSERT시 에러발생[ERR]' ,@v_program_id ,0100, @errormessage, @av_user_id);

            IF @@TRANCOUNT > 0
               ROLLBACK WORK
            RETURN
         END CATCH
      END
      
      /*
      *    ***********************************************************
      *    작업 완료
      *    ***********************************************************
      */
      SET @av_ret_code = 'SUCCESS!'

      SET @av_ret_message = '프로시져 실행 완료..'

   END;